<div class="row mt-5">
  <div class="col-md-9 mx-auto">
    <h2 class="text-left">Local Initiatives</h2>
    <div class="card mt-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Consectetur cumque deserunt, dolor harum,
              illo ipsa maxime mollitia necessitatibus nisi nobis nostrum pariatur sequi suscipit.
              Aspernatur assumenda est provident quia voluptatum!</p>
            <p>Information of the forms will be put here as a final check before confirming the data is correct.</p>
            <p>The map will show the correct place, which was also entered in the form.</p>
          </div>
          <div class="col-sm">
            <div #mapRef style="width:100%;height:400px"></div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-success" routerLink="/objectives">Confirm</button>
    </div>
  </div>
</div>
