<div class="row mt-5">
  <div class="col-md-9 mx-auto">
    <h3 class="text-left" >{{name}}</h3>
    <div class="card mt-3">
      <div class="card-body">
        <div class="row">
          <div class="col">
              <h4>Location of the Initiative</h4>
              <h5>{{location}}</h5>
          </div>
          <div class="row">
            <div class="col">
              <h4>Date of creation</h4>
              <h5>{{date}}</h5>
            </div>
          </div>
          <div class="col">
            <h4>Project theme</h4>
            <h5>{{theme}}</h5>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <h4>Project goals</h4>
            <h5>{{goals}}</h5>
          </div>
          <div class="col">
              <h4>Project Challenges</h4>
            <h5>{{challenges}}</h5>
          </div>
          <div class="form-group col">
            <h4>What type of collaboration do we need?</h4>
            <h5>{{collaboration}}</h5>
          </div>
          <div class="col">
            <h4>Community Expertise:</h4>
            <h5>{{expertiseCombined}}</h5>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <h5>Email address</h5>
            <h4>{{email}}</h4>
          </div>
          <div class="form-group">
            <h5>Website</h5>
            <h4>{{website}}</h4>
          </div>
          <div class="form-group">
            <h5>Phone number</h5>
            <h4>{{number}}</h4>
          </div>
        </div>
        <button type="button" class="btn btn-secondary" id="editButton" routerLink="">Edit</button>

      </div>
    </div>

  </div>
</div>

