<div class="row mt-5">
  <div class="col-md-9 mx-auto">
    <h3 class="text-left">[Name of Local Initiative]</h3>
    <div class="card mt-3">
      <div class="card-body">
        <div class="row">
          <div class="col">
              <h4>Location of the Initiative</h4>
              <h5>[City, State and Zip of the Local Initiative]</h5>
          </div>
          <div class="row">
            <div class="col">
              <h4>Date of creation</h4>
              <h5>[Date of creation]</h5>
            </div>
          </div>
          <div class="col">
            <h4>Project theme</h4>
            <h5>[Chosen theme]</h5>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <h4>Project goals</h4>
            <h5>[Chosen goals]</h5>
          </div>
          <div class="col">
              <h4>Project Challenges</h4>
            <h5>[Chosen challenges]</h5>
          </div>
          <div class="form-group col">
            <h4>What type of collaboration do we need?</h4>
            <h5>[Chosen collaboration type]</h5>
          </div>
          <div class="col">
            <h4>Community Expertise:</h4>
            <h5>[Chosen expertise]</h5>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <h5>Email address</h5>
            <h4>[Email]</h4>
          </div>
          <div class="form-group">
            <h5>Website</h5>
            <h4>[Website]</h4>
          </div>
          <div class="form-group">
            <h5>Phone number</h5>
            <h4>[Phone number]</h4>
          </div>
        </div>
        <button type="button" class="btn btn-secondary" id="editButton" routerLink="">Edit</button>

      </div>
    </div>

  </div>
</div>

