ul {
  display: flex;
  list-style-type: none;
  margin-right: 350px;
}

li {
  margin: 30px 60px 0 60px;
  font-weight: 400;
  font-size: 20px;
}

li:hover {
  cursor: pointer;
}

.nav {
  background-color: #f4f7f6;
  justify-content: space-between;
}

.logo {
  align-self: center;
  background-color: #009a67;
  height: 90px;
  width: 210px;
  padding-top: 20px;
}

.logo > h2 {
  padding-left: 35px;
  color: #f4f7f6;
}
