<!--<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light">-->
<!--  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"-->
<!--          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--    <div class="navbar-collapse collapse">-->
<!--      <div class="logo">-->
<!--        <h2>Empower</h2>-->
<!--      </div>-->
<!--    </div>-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item">Toolkit</li>-->
<!--      <li class="nav-item">Local Initiatives</li>-->
<!--      <li class="nav-item">Local Authority</li>-->
<!--      <li class="nav-item">Inspiration</li>-->
<!--    </ul>-->
<!--</nav>-->


<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Empower</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Toolkit <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Local Authority</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Local Initiatives</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Inspiration</a>
      </li>
    </ul>
  </div>
</nav>
