.row {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

.form-item > input {
  margin-right: 10px;
}

#sumbitButton {
  width: 150px;
  align-self: center;
  margin: 20px;
  background-color: #009a67;
}
