<div class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col-2">
      <h5>Filter on:</h5>
    </div>
    <div class="col-2">
      <div class="form-group">
        <h5>Tools:</h5>
        <select id="inputTools" class="form-control" [(ngModel)]="tool">
          <option selected>Calculator</option>
          <option>Guide</option>
          <option>Dashboard</option>
          <option>VideoCourse</option>
          <option>Library</option>
        </select>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <h5>Theme:</h5>
        <select id="inputThemes" class="form-control" [(ngModel)]="theme">
          <option selected>Heating</option>
          <option>SolarEnergy</option>
          <option>NaturalGas</option>
          <option>PublicPart</option>
          <option>WaterUsage</option>
          <option>All</option>
        </select>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <h5>Location:</h5>
        <select id="inputLocation" class="form-control" [(ngModel)]="location">
          <option selected>UK</option>
          <option>Netherlands</option>
          <option>Belgium</option>
          <option>Denmark</option>
          <option>France</option>
        </select>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <h5>Language:</h5>
        <select id="inputLanguage" class="form-control" [(ngModel)]="language">
          <option selected>English</option>
          <option>Dutch</option>
          <option>French</option>
          <option>Danish</option>
        </select>
      </div>
    </div>
    <button type="button" class="btn-lg btn-success" id="filterButton" (click)="onFilter()">Filter</button>
  </div>

  <div class="row" style="padding-top : 5px">
    <div class="col-3" *ngFor="let module of modules;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{module.name}}</h5>
          <p class="card-text">A quick introduction about the initiative here.</p>
          <a class="btn btn-primary">Learn more!</a>
        </div>
      </div>
    </div>
  </div>
</div>
