<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Empower 2.0</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id="inspiration" routerLink="/inspiration">Inspiration</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/authority">Local Authority</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/initiative">Local Initiative</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/library">Video Library</a>
      </li>
    </ul>
  </div>
  <button class="btn btn-light my-2 my-sm-0" type="submit" routerLink="/signup">Sign up</button>
  <button class="btn btn-light my-2 my-sm-0" type="submit" routerLink="/login">Log in</button>
</nav>
