<div class="container">
  <div class="row">
    <h3>Local Authority:</h3>
    <div class="card mt-3">
      <div class="card-body">
        <div class="form">
          <h6>STRATEGY</h6>
          <h4>List the high level strategies that your city is following</h4>
          <div class="form-item">
            <input type="checkbox">
            <label>Sustainable Deelopment Goals</label>
          </div>
          <div class="form-item">
            <input type="checkbox">
            <label>The Paris Agreement</label>
          </div>
        </div>
        <div class="form" >
          <h6>STRUCTURE</h6>
          <h5>Which programs does your project contribute to?</h5>
          <div class="form-group" >
            <label for="exampleFormControlTextarea2">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
          </div>
        </div>
        <div class="form" >
          <h6>TOOLS</h6>
          <h5>List the on-going or in development tools that your
            city is using to achieve the aforementioned objectives. in which domail do they
          fall? Label!</h5>
          <div class="form-group" >
            <label for="name">name</label>
            <textarea class="form-control" id="name" rows="3"></textarea>
          </div>
          <div class="form-group" >
            <label for="label">label</label>
            <textarea class="form-control" id="label" rows="3"></textarea>
          </div>
          <div class="form-group" >
            <label for="description">Example textarea</label>
            <textarea class="form-control" id="description" rows="3"></textarea>
          </div>
        </div>
        <div class="form" >
          <h6>SUPPORT</h6>
          <h5>What do you need help with? Describe!</h5>
          <div class="form-group" >
            <label for="helpdescription">help description</label>
            <textarea class="form-control" id="helpdescription" rows="3"></textarea>
          </div>
        </div>

        <div class="form">
          <h5>PROFILE</h5>
        </div>


        </div>
      </div>
      <button class="btn btn-secondary" id="sumbitButton" (click)="onSubmitClick()" routerLink="/stakeholders">Submit</button>
    </div>
  </div>
