<header class="text-center">
  <h1 class="mb-3 shadow-sm text-muted">Stakeholders</h1>
</header>
<div class="container-fluid">
  <div class="row rounded box-shadow">
    <div class="col-12 p-5 text-center">
      <h4 class="mb-3">Who else is already involved in the initiative?</h4>
    </div>
    <div class="col-4 mx-auto">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="cummunity">Other community members
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="authorities">Planning authorities
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="advisers">Advisers (technical, finacial, legal)
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="banks">Banks
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="investors">Investors
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="energy">Energy supplier
        </label>
      </div>
    </div>
    <div class="col-4 mx-auto">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="dno">DNO
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="regulator">Regulator
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="manufacturer">Equipment manufacturer
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="developer"> Developer / installer
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="other">Other:
        </label>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                  disabled> Specify your stakeholder... </textarea>
      </div>
    </div>
  </div>
  <div class="row rounded box-shadow">
    <div class="col-12 p-5 text-center">
      <h4 class="mb-3">For each type of stakeholder, how important are they in the project?</h4>
    </div>
    <div class="col-4 mx-auto">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="critical">Critical - we must engage them
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="important">important - they can help significantly
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="medium">Medium
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="low">Low
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="investors">Investors
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="energy">Energy supplier
        </label>
      </div>
    </div>
    <div class="col-4 mx-auto">

    </div>
  </div>
  <div class="row rounded box-shadow">
    <div class="col-12 p-5 text-center">
      <h4 class="mb-3">For each type of stakeholder, how important are they in the project?</h4>
    </div>
    <div class="col-4 mx-auto">
      <div class="form-group">
        <label for="answerQuestion11">Describe the relationships between the stakeholders:</label>
        <textarea class="form-control" id="answerQuestion11" rows="3">Describe the relationships...</textarea>
      </div>
    </div>
  </div>
  <div class="row rounded box-shadow">
    <div class="col-12 p-5 text-center">
      <h4 class="mb-3">Which other stakeholders should be involved? What else do the participants want or need to
        involve in the project?</h4>
    </div>
    <div class="col-4 mx-auto">
      <div class="form-group">
        <textarea class="form-control" id="answerQuestion12" rows="3">Describe which other stakeholders should be involved...</textarea>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button class="btn btn-dark btn-sm" (click)="onClickSubmit()" role="button">submit</button>
  </div>
</div>
