<div class="container">
  <div class="row">
    <h3>Journey, Participants and Assets:</h3>
    <div class="card mt-3">
      <div class="card-body">
        <div class="form">
          <h5>Where in the journey is the initiative?</h5>
          <div class="form-item">
            <input type="checkbox">
            <label>Plans, ideas or initial questions</label>
          </div>
          <div class="form-item">
            <input type="checkbox">
            <label>Desire to engage but nothing solid yet</label>
          </div>
          <div class="form-item">
            <input type="checkbox">
            <label>Just starting - have some initail ideas and plans</label>
          </div>
          <div class="form-item">
            <input type="checkbox">
            <label>Have a fully formed business plan or similar</label>
          </div>
          <div class="form-item">
            <input type="checkbox">
            <label>Have ownership of a site or assets</label>
          </div>
        </div>
        <div class="form">
          <h5>And for how long is it running?</h5>
          <div class="form-item">
            <input type="checkbox">
            <label>Less than a year active</label>
          </div>
          <div class="form-item">
            <input type="checkbox">
            <label>More than a year active</label>
          </div>
        </div>

        <div class="form">
          <h5>Which resources can you bring to the initiative</h5>
          <h6>A. Knowledge: How knowledgeable are the participants?</h6>
          <div class="form-item">
            <input type="checkbox">
            <label>Novices</label>
          </div>
          <div class="form-item">
            <input type="checkbox">
            <label>Good general Knowledge but no specific</label>
          </div>
          <div class="form-item">
            <input type="checkbox">
            <label>Expert in specific are (technical, legal, commercial, financial)</label>
          </div>
          <div class="form-item">
            <input type="checkbox">
            <label>broad expertise in local energy</label>
          </div>
        </div>

        <div class="form">
          <h6>B. Assets: What assets can you bring?</h6>
          <div class="form-item">
            <input type="checkbox">
            <label>None</label>
          </div>
          <div class="form-item">
            <input type="checkbox">
            <label>A site, space, building</label>
          </div>
          <div class="form-item">
            <input type="checkbox">
            <label>Generation - wind / PV / hydro / CHP / heat</label>
          </div>
          <div class="form-item">
            <input type="checkbox">
            <label>Demand - electricity / heat / gas</label>
          </div>
          <div class="form-item">
            <input type="checkbox">
            <label>Storage - bttery / thermal store</label>
          </div>
          <div class="form-item">
            <input type="checkbox">
            <label> </label>
          </div>EV / EV charge point
        </div>
        <div class="form-item">
          <input type="checkbox">
          <label>Microgrid</label>
        </div>
        <div class="form-item">
          <input type="checkbox">
          <label>Software Systems</label>
        </div>
        <div class="form-item">
          <input type="checkbox">
          <label>Contract to buy or sell energy</label>
        </div>
        <div class="form-item">
          <input type="checkbox">
          <label>Specific skills or expertise</label>
        </div>

        <div class="form" >
          <h6>C. Time</h6>
        <div class="form-group" >
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="form">
          <h6>D. Funding</h6>
        <div class="form-item">
          <input type="radio">
          <label>Have enough funds</label>
        </div>
          <div class="form-item">
            <input type="radio">
            <label>Have some funds but need more</label>
          </div>
          <div class="form-item">
            <input type="radio">
            <label>Need full amount of funding</label>
          </div>
        </div>

          <div class="form">
            <h5>What funding can the initiative bring if any?</h5>
            <div class="form-item">
              <input type="checkbox">
              <label>Grandfunding</label>
            </div>
            <div class="form-item">
              <input type="checkbox">
              <label>Loans</label>
            </div>
            <div class="form-item">
              <input type="checkbox">
              <label>Subsidies</label>
            </div>
            <div class="form-item">
              <input type="checkbox">
              <label>Crowdfunding</label>
            </div>
          </div>

      </div>
    </div>
    <button class="btn btn-secondary" id="sumbitButton" (click)="onSubmitClick()" routerLink="/stakeholders">Submit</button>
  </div>
</div>
</div>
