<div class="container">
  <div class="row">
    <h3>Objectives and Motivations:</h3>
    <div class="form">
      <h5>4. What is the main motivation during the initiative?</h5>
      <div class="form-item">
        <input type="checkbox">
        <label>Community building and engagement</label>
      </div>
      <div class="form-item">
        <input type="checkbox">
        <label>Environmental</label>
      </div>
      <div class="form-item">
        <input type="checkbox">
        <label>Energy efficiency / Economical energy savings</label>
      </div>
      <div class="form-item">
        <input type="checkbox">
        <label>Commercial (business models)</label>
      </div>
    </div>
    <div class="form">
      <h5>5. What is the main motivation driving the initiative?</h5>
      <div class="form-item">
        <input type="checkbox">
        <label>Save costs</label>
      </div>
      <div class="form-item">
        <input type="checkbox">
        <label>Generate revenue</label>
      </div>
      <div class="form-item">
        <input type="checkbox">
        <label>Community building and engagement</label>
      </div>
      <div class="form-item">
        <input type="checkbox">
        <label>Improve comfort of home and building</label>
      </div>
      <div class="form-item">
        <input type="checkbox">
        <label>Renovate a building or site</label>
      </div>
      <div class="form-item">
        <input type="checkbox">
        <label>Status / avoid shame</label>
      </div>
      <div class="form-item">
        <input type="checkbox">
        <label>Build social networks and connect to people</label>
      </div>
      <div class="form-item">
        <input type="checkbox">
        <label>Be part of something</label>
      </div>
      <div class="form-item">
        <input type="checkbox">
        <label>Be more in control of their energy / life</label>
      </div>
      <div class="form-item">
        <input type="checkbox">
        <label>Corporate social responsibility</label>
      </div>
    </div>
    <button class="btn btn-secondary" (click)="onSubmitClick()">Submit</button>
  </div>
</div>
