<div class="wrapper">
  <div id="formContent">
    <h3>Sign Up</h3>
    <form>
      <input type="text" name="login" placeholder="new username">
      <input type="password" name="password" placeholder="password">
      <input type="password" name="confirmPassword" placeholder="confirm password">
        <label for="exampleFormControlSelect1" style="padding-top: 7px">
          <select class="form-control" id="exampleFormControlSelect1" style="width: 380px">
            <option>I am a local initiative</option>
            <option>I am a local authority</option>
          </select>
        </label>
      <input type="text" name="title" placeholder="title of initiative or authority">
      <input type="text" name="description" placeholder="brief description">
      <input type="submit" value="Sign Up" (click)="onSignUp()">
    </form>
  </div>
</div>
