<div class="wrapper">
  <div id="formContent">
    <h3>Sign Up</h3>
    <form (ngSubmit)="onSignUp()">
      <input type="text" name="username" placeholder="new username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
      <input type="password" name="new-password" placeholder="password" [(ngModel)]="password">
      <input type="password" name="confirmPassword" placeholder="confirm password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}">
        <label for="exampleFormControlSelect1" style="padding-top: 7px; color: dimgrey">
          What type of user are you?
          <select class="form-control" id="exampleFormControlSelect1" style="width: 380px"  [(ngModel)]="userType" [ngModelOptions]="{standalone: true}">
            <option>I am a local initiative</option>
            <option>I am a local authority</option>
          </select>
        </label>
      <input type="text" name="title" placeholder="title of initiative or authority" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
      <input type="text" name="description" placeholder="brief description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}">
      <input type="submit" value="Sign Up">
    </form>
  </div>
</div>
