<header class="text-center">
  <h1 class="mb-3 shadow-sm text-muted">Stakeholders</h1>
</header>
<div class="container-fluid">
  <div class="row rounded box-shadow">
    <div class="col-12 p-5 text-center">
      <h4 class="mb-3">Who else is already involved in the initiative?</h4>
    </div>
    <div class="col-4 mx-auto">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="cummunity">Other community members
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="authorities">Planning authorities
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="advisers">Advisers (technical, finacial, legal)
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="banks">Banks
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="investors">Investors
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="energy">Energy supplier
        </label>
      </div>
    </div>
    <div class="col-4 mx-auto">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="dno">DNO
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="regulator">Regulator
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="manufacturer">Equipment manufacturer
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="developer"> Developer / installer
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="other">Other:
        </label>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                  disabled> Specify your stakeholder... </textarea>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <a class="btn btn-dark btn-sm" role="button">next</a>
  </div>
</div>
