<div class="container-fluid">
  <div class="row-10 first-row">
    <div class="col-12">
      <p class="h3 text-muted">Stakeholders</p>
      <p class="h3">9. Who else is already involved in the initiative?</p>
    </div>
    <div class="col-5">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="cummunity">Other community members
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="authorities">Planning authorities
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="advisers" >Advisers (technical, finacial, legal)
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="banks" >Banks
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="investors" >Investors
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="energy" >Energy supplier
        </label>
      </div>
    </div>
    <div class="col-5">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="dno">DNO
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="regulator">Regulator
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="manufacturer" >Equipment manufacturer
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="developer"> Developer / installer
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="other" >Other
        </label>
      </div>
    </div>
  </div>
</div>
